html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #F2F2F2;
}

header {
    background-color: #60AA85;
    width: 100%;
    height: 15em;
    position: relative;
    margin-bottom: 15em;
}

.circle {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background-image:
    linear-gradient(
    #47834B, #60AA85);
    position: absolute;
    left: 50%;
    margin-top: 5em;
    margin-left: -10em;
    box-shadow: 0 9px 30px 3px rgba(0,0,0,.46);
}

.logo {
    width: 10em;
    height: 10em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    text-align: center;
    margin: 0;
}

.paper-btn {
    width: 250px;
    margin: 20px;
    padding: 10px;
    display: block;

    background-color: #fff;
    border: 1px solid #ccc;

    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper {
    min-height: 100%;
    margin-bottom: 5em;
}

.footer {
    background-color: #60AA85;
}

.footer,
.push {
    height: 5em;
}
