html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #EDEBD7;
}

header {
    background-color: #8F8B30;
    background-image:
    linear-gradient(
    #8F8B30, #ADAA68);
    width: 100%;
    height: 15em;
    position: relative;
}

.circle {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    background-image:
    radial-gradient(
    #D3D88A, #B7B55E);
    position: absolute;
    left: 50%;
    margin-top: 2.5em;
    margin-left: -12.5em;
}

.logo {
    width: 13em;
    height: 13em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    text-align: center;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: 5em;
}

.footer {
    background-image:
    linear-gradient(
    #8F8B30, #ADAA68);
}

.footer,
.push {
    height: 5em;
}
